*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Spartan", sans-serif;
    font-size: 12px;
}

.first {
    display: grid;
    grid-template-columns: 1fr 582px;
}

/* First Hero */

.first__hero {
    padding: 60px;
    background-image: url("../images/desktop-image-hero-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.first__nav {
    position: relative;
    display: flex;
    align-items: center;
}

.first__list {
    margin-left: 40px;
    display: inline-flex;
}


.first__item {
    margin-right: 30px;
}

.first__link {
    text-decoration: none;
    color: hsl(0, 0%, 100%);
}

.first__menu--hidden {
    display: none;
}

/* First Info */

.first__info {
    position: relative;
    padding: 120px 0 120px 100px;
}

.first__title {
    max-width: 500px;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.25;
}

.first__desc {
    margin: 30px 0;
    max-width: 420px;
    color: hsl(0, 0%, 63%);
    line-height: 1.5;
}

.first__cta {
    color: hsl(0, 0%, 0%);
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 8px;
}

.first__cta::after {
    margin-left: 20px;
    content: url("../images/icon-arrow.svg");
    position: relative;
    top: 2px;
}

.first__toggler {
    position: absolute;
    left: 0;
    bottom: 0;
}

.first__previous,
.first__forward {
    padding: 20px 30px;
    background-color: hsl(0, 0%, 0%);
    border: 0;
}

/* Second */

.second {
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr;
}

.second__hero {
    max-width: 500px;
}

.second__image {
    width: 100%;
    height: auto;
}

.second__info {
    padding: 60px;
}

.second__title {
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 6px;
}

.second__desc {
    max-width: 520px;
    margin-top: 20px;
    color:hsl(0, 0%, 63%);
    line-height: 1.5;
}

/* Responsive Media Queries */

@media only screen and (max-width: 1200px) {
    /* First */

    .first {
        grid-template-columns: 1fr;
    }

    .first__hero {
        height: 100vh;
    }

    .first__logo {
        width: 80px;
    }

    .first__link {
        font-size: 16px;
    }

    .first__title {
        max-width: none;
        font-size: 48px;
    }

    .first__desc {
        max-width: 700px;
        font-size: 16px;
    }

    .first__toggler {
        top: -70px;
        right: 0;
        left: auto;
    }

    /* Second */

    .second {
        grid-template-columns: 1fr;
    }

    .second__hero {
        max-width: none;
    }

    .second__info {
        padding: 100px;
    }

    .second__title {
        font-size: 32px;
    }

    .second__desc {
        max-width: 800px;
        font-size: 16px;
    }
}

@media only screen and (max-width: 750px) {
    /* First */

    .first__info {
        padding: 60px;
    }

    .first__title {
        font-size: 38px;
    }

    .first__desc {
        font-size: 14px;
    }

    /* Second */

    .second__info {
        padding: 60px;
    }

    .second__title {
        font-size: 20px;
    }

    .second__desc {
        font-size: 14px;
    }

}

@media only screen and (max-width: 560px) {
    /* First */

    .first__logo {
        margin-left: 50%;
        transform: translateX(-50%);
        order: 1;
    }

    .first__list {
        position: fixed;
        padding: 20px 60px;
        margin: 0;
        width: 100%;
        top: 0;
        left: 0;
        right: 0;
        background-color: hsl(0, 0%, 100%);
        z-index: 1;
    }

    .first__list--mobile {
        display: none;
    }

    .first__link {
        font-size: 14px;
        color: hsl(0, 0%, 0%);
        font-weight: bold;
    }

    .first__menu--mobile {
        display: block;
        position: fixed;
        z-index: 1;
    }

    .first__menu--close {
        filter: brightness(0) saturate(100%);
    }

    .first__hero {
        padding: 20px;
        background-image: url("../images/mobile-image-hero-1.jpg");
        height: 500px;
    }

    .first__info {
        padding: 40px 20px;
    }

    .first__title {
        max-width: 350px;
        font-size: 32px;
    }

    .first__desc {
        font-size: 12px;
        max-width: none;
    }
}